# Go
/backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Node
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo
